# ==================================================
# Deep Learning
# ==================================================

torch
torchvision
transformers

# ==================================================
# YOLO
# ==================================================

ultralytics

# ==================================================
# Computer Vision
# ==================================================

opencv-python-headless
Pillow

# ==================================================
# OCR
# ==================================================

easyocr

# ==================================================
# Scientific Computing
# ==================================================

numpy
scikit-learn

# ==================================================
# Data Processing
# ==================================================

pandas

# ==================================================
# Progress Bars
# ==================================================

tqdm

# ==================================================
# LLM
# ==================================================

ollama

# ==================================================
# Optional Utilities
# ==================================================

matplotlib
streamlit

groq
